.table {
   width: 400px;
   height: 300px;
   

   /* TODO: Add part of your solution here */
   background: linear-gradient(to bottom, #79df04, #206a01);
}

.card-red {
   color: red;
}

.card-black {
   color: black;
}

.card {
   background-color: whitesmoke;
   border: 1px solid black;         
   width: 100px;
   height: 160px;
   line-height: 160px;
   text-align: center;
   font-size: 80px;
   box-shadow: 3px 3px 5px rgba(0,0,0,0.5);

   /* TODO: Add part of your solution here */

}      

.card-top {
   /* TODO: Add part of your solution here */

}

.card-bottom {
   /* TODO: Add part of your solution here */

}

.heart {
   color: red;
   font-size: 28px; 
   width: 30px;
   height: 30px;  
   line-height: 30px;
}

.spade {
   color: black;
   font-size: 36px; 
   width: 30px;
   height: 30px;  
   line-height: 30px;
}

.top-left {
   /* TODO: Add part of your solution here */

}

.bottom-right {
   /* TODO: Add part of your solution here */

}